body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

/*=======================================================
=====================Blok1===============================
=======================================================*/

.hello {
    font-size: 60px;
    margin-bottom: 36px;
}

.list li  {
    background: url('../img/check_icon_346.png') left no-repeat;
    padding: 0 0 0 37px;
    font-size: 20px;
    line-height: 36px;
}

.block_1 {
    background-color: #445162;
    padding: 50px 0;
}

.cont1 {
    display: flex;
    justify-content: space-between;
}

.left1 {
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
    padding: 0 30px 0 0;
}

/*=======================================================
=====================Blok2===============================
=======================================================*/

.block_2 {
    padding: 50px 0;
}

.cont2 {
    display: flex;   
}

.left2 {
    flex: 0 0 430px;
}

.right2 {
    flex: 1 1 auto;
    padding-left: 35px;
}

.cont2_h2 {
    margin-bottom: 33px;
}

.H2 {
    font-size: 30px;
    font-weight: 400;
    color: #445161;
}

.text2_3 {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 30px;
}

/*=======================================================
=====================Blok3===============================
=======================================================*/

.block_3 {
    background-color: #f5f5f5;
    padding: 50px 0 20px 0;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.column {
    flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 0 8px;
}

.item_block {
    display: flex;
}

.item_img{
    width: 200px;
    height: 150px;
    background-color: #445161;

    flex: 0 0 200px;
}

.item_titleText {
    flex: 1 1 auto;
    padding-left: 15px;
}

.item_title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161; 
    margin-bottom: 13px;
}

.item_text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}
 
/*=======================================================
=====================Blok4===============================
=======================================================*/

.block_4 {
    padding: 50px 0;
}

.title_b4 {
    text-align: center;
    margin-bottom: 30px;
}

.block_4_body {
    max-width: 990px;
    margin: 0 auto;
}

.block_4_flex {
    display: flex;
    margin: 0 -22px;
}

.block_4_column {
    flex: 0 1 33.333%;
    padding: 0 22px;
    display: flex;
}

.block_4_item {
    background-color: #445162;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #445162;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.line1 {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 0;
}

.line2 {
    text-align: center;
    background-color: #ffffff;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    padding: 17px 0;

}

.text3 {
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    flex: 1 1 auto;
}

.text3_p {
    margin-bottom: 25px;
}

.block_4_button {
    display: block;
    height: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    margin: 0 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-align: center;
    padding: 9px 0;
    transition: background-color 0.15s linear, box-shadow 0.2s linear;
}

/*=======================================================
=====================Footer===============================
=======================================================*/

.footer {
    background-color: #f5f5f5;
}

.footerFlex {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.footerText {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
}
